---
name: "Tests"
on:
  push:
    branch: ["main"]
jobs:
  test:
    name: "Tests"
    runs-on: "ubuntu-22.04"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"
      - name: "Install Python"
        uses: "actions/setup-python@v4"
        with:
          python-version: "3.11.6"
      - name: "Install dependencies"
        run: "pip install -r requirements-dev.txt"
      - name: "Run tests"
        run: "pytest ."
